# Python
__pycache__/
*.pyc

# Django
db.sqlite3
/staticfiles
/media/*
!/media/images/
/media/images/*
!/media/images/arayz-pic.jpeg
!/media/images/favicon.ico

# Environment
.env

# Editor
*.swp

# OS
.DS_Store
Thumbs.db
